{% url 'app:report' as report_url %}
{% url 'app:parse' as parse_url %}
{% url 'app:analyze' as analyze_url %}

{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Load JSON</title>

    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block style %}
    {% endblock style %}

</head>
<body id="container">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'app:report' %}">Load Json app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == analyze_url %}active{% endif %}">
                <a class="nav-link" href="{% url 'app:analyze' %}">Analyze a File</a>
            </li>
            {% if request.user.is_superuser %}
                <li class="nav-item {% if request.path == report_url %}active{% endif %}">
                    <a class="nav-link" href="{% url 'app:report' %}">Report</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="#" id="dropdown01">User ({{ user.username }})</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid mt-2">
    <nav aria-label="breadcrumb">
        {% block page_title %}{% endblock %}
    </nav>

    <div class="mt-3">
        {% block content %}{% endblock %}
    </div>
</div>

{% block javascript %}
{% endblock javascript %}
</body>
</html>